@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
	background-color:#1e453e;
	font-family: 'Rubik';
	font-weight: normal;
	color: white;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: large;
}

p {
  line-height: 1.5rem;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}


